;配置文件
;配置抢票信息，旅行日期、乘客、车次等有多个值的用空格分隔
;出发地
s_station=北京
;目的地
e_station=上海
;出行日期，有多个日期请用空格分隔
travel_date = 2020-01-21
;乘客姓名，多个值用空格分隔，需要先在12306后台添加
passerger = 
;车次，为空则在命令行中选择
train_number = 
;登陆用户名
username=
;登陆密码
password=
;票种：
;1:商务座
;2：一等座
;3：二等座
;4：高级软卧
;5：软卧一等卧
;6：动卧
;7：硬卧二等卧
;8：软座
;9：硬座
;10：无座
;选择前面的数字，多个值用空格分隔
seat_level=9 7
;发送通知邮箱
mail_sender = 
;发送通知邮箱 密码
mail_sender_password=
;接收通知邮箱
mail_receiver=